input {
    color: white !important;
}

.page-header {
    display: flex !important;
    justify-content: center !important;
}

a:hover {
    text-decoration: underline !important;
}

.sidebar a:hover {
    text-decoration: none !important;
}

::selection {
    color: black;
    background-color: rgba(255, 255, 255, 0.99);
}

::-moz-selection {
    color: black;
    background-color: white;
}

@media (max-width: 991px) {
    .sidebar {
        left: 0;
        right: -100vw;
        width: 45px;
    }

    .sidebar .nav-category .nav-link {
        display: none !important;
        position: absolute;
    }

    .sidebar .nav-item .nav-link {
        display: flex;
        justify-content: center;
    }

    .sidebar .menu-title {
        display: none !important;
        position: absolute;
    }

    .sidebar .menu-icon {
        margin: 0 !important;
    }

    .sidebar .nav-link, .sidebar .nav-item {
        width: 100% !important;
    }

    .sidebar .nav-link {
        padding: 2px !important;
        border-radius: 0px !important;
    }

    .sidebar .nav-item {
        padding: 0 !important;
    }

    .content-wrapper {
        padding-left: 48px !important;
    }

    .navbar #search {
        height: 100% !important;
    }

    .navbar #search form {
        display: block !important;
        margin-left: 0 !important;
    }

    .navbar #search form, .navbar #search form input {
        width: 100% !important;
    }
}

.preview-item {
    overflow-x: auto;
}

#img-container {
    width: 128px;
    height: 128px;
    border-radius:50%;
    display:block;
    margin:auto;
    overflow:hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}