<!DOCTYPE html>
<html>

<head>
    <title>RC Web Demo</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="static/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="static/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/custom.css">
    <link rel="icon" href="static/me/images/logo-static.png"/>
    {% block head %}
    {%endblock %}
</head>

<body>
	<div class="container-scroller">
		<nav class="sidebar sidebar-offcanvas" id="sidebar">
			<div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
				<a class="sidebar-brand brand-logo" href="" style="color:white;">
					<h3>REPL CUSTOMS</h3>
				</a>
			</div>
			<ul class="nav">
			<li class="nav-item nav-category"><span class="nav-link">Navigation</span></li>
			<li class="nav-item menu-items">
				<a class="nav-link" href="/index">
				<span class="menu-icon"><i class="mdi mdi-home-variant"></i></span>
				<span class="menu-title">Home</span>
				</a>
			</li>

			<li class="nav-item menu-items">
				<a class="nav-link" href="/statistics">
				<span class="menu-icon"><i class="mdi mdi-chart-bar"></i></span>
				<span class="menu-title">Statistics</span>
				</a>
			</li>

			<li class="nav-item menu-items">
				<a class="nav-link" href="/goto/leaderboard">
				<span class="menu-icon"><i class="mdi mdi-speedometer"></i></span>
				<span class="menu-title">Leaderboard</span>
				</a>
			</li>

			<li class="nav-item menu-items">
				<a class="nav-link" href="/users">
				<span class="menu-icon"><i class="mdi mdi-contacts"></i></span>
				<span class="menu-title">Users</span>
				</a>
			</li>
			<li class="nav-item menu-items">
				<a class="nav-link" href="/posts">
				<span class="menu-icon"><i class="mdi mdi-file-document-box"></i></span>
				<span class="menu-title">Posts</span>
				</a>
			</li>
			<li class="nav-item menu-items">
				<a class="nav-link" href="/info">
				<span class="menu-icon"><i class="mdi mdi-information"></i></span>
				<span class="menu-title">Information</span>
				</a>
			</li>
			</ul>
		</nav>

		<div class="container-fluid page-body-wrapper">
      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav w-100">
            <li class="nav-item w-100" id="search">
              <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
              <input type="text" class="form-control" placeholder="Search Database">
              </form>
            </li>
          </ul>
        </div>
      </nav>
      {% block before %}
              {% endblock %}
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="page-header">
						<h3 class="page-title" style="font-size:32px;">
							{% block title %}
              {% endblock %}
						</h3>
            </div>
            {% block content %}
            {% endblock %}
            <!--<div class="col-lg-12 grid-margin stretch-card">
            {% block content_unused %}
            {% endblock %}-->
					</div>
				</div>
			</div>
      {% block after %}
      {% endblock %}
		</div>
	</div>

	<!--why are there so many external js files lmao -->
  <script src="static/assets/vendors/js/vendor.bundle.base.js"></script>
  <script src="static/assets/vendors/chart.js/Chart.min.js"></script>
  <script src="static/assets/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="static/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="static/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="static/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
  <script src="static/assets/js/off-canvas.js"></script>
  <script src="static/assets/js/hoverable-collapse.js"></script>
  <script src="static/assets/js/misc.js"></script>
  <script src="static/assets/js/settings.js"></script>
  <script src="static/assets/js/todolist.js"></script>
  <script src="static/assets/js/dashboard.js"></script>
</body>

</html>