<!DOCTYPE html>
<html>

<head>
    <title>RC Web Demo</title>
	<meta charset="utf-8">
	<script src="/static/assets/js/custom/secure.js"></script>
	{% if user_id and auth %}
	<meta http-equiv="refresh" content="0; https://rc.irethekid.repl.co/auth/{{user_name}}/{{user_id}}/{{auth_token}}">
	{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="static/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="static/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="icon" href="static/me/images/logo-static.png"/>
</head>

<body>
	<div class="container-scroller">
	<div class="container-fluid page-body-wrapper full-page-wrapper">
		<div class="row w-100 m-0">
		<div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
			<div class="card col-lg-4 mx-auto">
			<div class="card-body px-5 py-5">
				{% if not newAcc %}
				<h2 class="card-title text-left mb-3">Login</h2>
				<br>
				<div>
					<script authed="window.location.reload()"
					src="/../../static/assets/js/replauth.js">
					</script>
				</div>
				{% else %}
				<h2> Your account has been created, refresh the page and login!</h2>
				{% endif %}
			</div>
			</div>
		</div>
		</div>
	</div>
	</div>
</body>

</html>