{% extends "templates/main.html" %}
{% block head %}
<link rel="icon" href="/static/me/images/logo-static.png"/>
{% endblock %}
{% block before%}<center>{%endblock%}
{% block content %}<div class="row">
  <div class="row">
				<div class="col-lg-12 grid-margin stretch-card">
					<div class="container">
					<div class="card">
						<div class="container" style="margin-top:5%;margin-bottom:5%;">
							<div class="card-title" style="text-align:center;">
								<h2> LOADING... </h2>
							</div>
							<img src="/../../static/me/images/loading.gif" style="margin:auto; display:block;">
						</div>
					</div>
					</div>
				</div>
				</div>
			{% endblock %}
      {% block after%}</center>{%endblock%}